[submodule "niri"]
	path = niri
	url = https://github.com/skjsbsnq/niri
	branch = niri-tahoe-desktop
[submodule "quickshell"]
	path = quickshell
	url = https://github.com/skjsbsnq/quickshell.git
	branch = quickshell-tahoe-desktop
