[submodule "niri"]
	path = niri
	url = https://github.com/skjsbsnq/tahoe-desktop.git
	branch = tahoe-layer-animations
[submodule "quickshell"]
	path = quickshell
	url = https://github.com/skjsbsnq/quickshell.git
	branch = quickshell-tahoe-desktop
